# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# Utility
alias l.="ls -d .*"
alias c="clear"
alias reload="source ~/.zshrc"

# Python3 as default
alias python="python3"

# M1 mac installation
alias brew="arch -arm64 brew"

# dotfiles
alias cddots="cd ~/dotfiles"
alias reloaddots="cddots && ./setup && reload && cd -"
alias resyncdots="cddots && git pull && ./setup && reload && cd -"
alias reinstalldots="cddots && git pull && ./setup --install && reload && cd -"

# OS specific
if [[ "$(uname)" == "Darwin" ]];
    then alias o="open ."
elif [[ "$(uname)" == "Linux" ]];
    then alias {o,open}="xdg-open ."
fi